body, html {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-header {
    background-color:azure;
    margin: 0;
    padding: 40px 32px;

    h1 {
        margin: 0;
    }
}

.page-content {
    padding: 40px 32px;
}

.sidebar {
    background-color:azure;
    margin: 0;
    padding: 40px 32px;
    grid-column: span 3;

    ul {
        padding: 0;
        ul {
            padding-left: 16px;
        }
    }

    li {
        list-style: none;
        margin-top: 8px;
    }

    h2 {
        margin: 0;
    }

    h3 {
        margin: 0;
    }
}

.content {
    grid-column: span 9;
    iframe {
        width: 100%;
        border: 0 none transparent;
        height: 100%;
    }
}

.code-container {
    padding: 32px;
    overflow-x: auto;
}