@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url("./../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Fixedsys';
    font-weight: normal;
    font-style: normal;
    src: url("./../fonts/fixed-sys.otf") format("opentype");
}