@import "./fonts.css";

body, html {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
    overflow-y: auto;
}


a {
    color: #f09;
    text-decoration: none;
    transition: .4s ease all;
    &:hover {
        text-decoration: underline;
    }
}
.dark {
    color: #fff;
    background-color: #222;

    a {
        color: #9f0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fixedsys', sans-serif;
    font-weight: normal;
    margin-bottom: 16px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
    border-left: 4px solid currentColor;
    padding-left: 8px;
}

kbd {
    font-family: 'Fixedsys', sans-serif;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 2px 6px 4px;
    font-size: 14px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
}

.page-header {
    margin: 0;
    padding: 40px 32px;

    h1 {
        margin: 0;
    }
}

.page-header .info {
    font-family: 'Fixedsys';
    font-weight: 100;
    color: #7a7a7a;
    
    a {
        opacity: .4;
        &:hover {
            opacity: 1;
        }
    }
}

.page-content {
    padding: 40px 32px;
    
    img {
        max-width: 100%;
    }
}

.sidebar {
    margin: 0;
    padding: 40px 32px;
    grid-column: span 3;
    max-height: calc(100vh - 80px);
    overflow-y: auto;

    ul {
        padding: 0;
        ul {
            padding-left: 16px;

            > li {
                margin-top: 8px;
            }
        }

        > li {
            margin-top: 32px;
        }
    }

    li {
        list-style: none;
    }

    h2 {
        margin: 0;
       a {
            color: #fff;
            text-decoration: none;
            border: 0 none transparent;
            &:hover {
                translate: 0 0;
            }
       } 
    }

    h3 {
        margin: 0;
        border-left: 0 none transparent;
    }

    a {
        transition: ease all 0.24s;
        display: inline-block;
        &:hover {
            translate: 6px 0;
        }

        &.__isActive {
            border-left: 4px solid currentColor;
            padding-left: 8px;

            &:hover {
                translate: 0 0;
                text-decoration: none;
            }
        }
    }
}

.content {
    grid-column: span 9;
    iframe {
        width: 100%;
        border: 0 none transparent;
        height: 100%;
    }
}

.code-container h3 {
    margin-top: 0;
    margin-left: 32px;
}

.code-container pre {
    padding: 32px;
    overflow-x: auto;
    margin: 0;
    background-color: #222;
}

.code-content-subheader {
    font-size: 14px;
    line-height: 1.8;
    padding: 0 32px;
}

.code-container-footer {
    padding: 0 32px;
    font-size: 14px;
    line-height: 1.8;
    [title] { 
        border-bottom: 1px dotted currentColor;
    }
}

#p5-container canvas {
    border: 1px solid #ccc;
}